; pjsip.conf example

[global]
type=global
user_agent=Sip Server 
default_realm=asterisk
endpoint_identifier_order=username,ip

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060				;this is for existing home sip devices

[transport-ws]
type=transport
protocol=ws
bind=0.0.0.0:8088
external_media_address=door.your domain.com	;change
external_signaling_address=door.your domain.com	;change

[user1]
type=aor
max_contacts=5
remove_existing=yes

[user1-auth]
type=auth
auth_type=userpass
username=user1
password=user1password
realm=asterisk

[user1]
type=endpoint
context=intercom-logic				;custom call logic yours may differ
disallow=all
allow=ulaw					;make sure not to put anything here that your intercom doesnt support.
auth=user1-auth
aors=user1
transport=transport-ws

; Enable WebRTC Protocol Support
webrtc=yes
media_encryption=dtls
dtls_verify=no
dtls_setup=actpass
dtls_cert_file=/etc/asterisk/keys/asterisk.crt
dtls_private_key=/etc/asterisk/keys/asterisk.key
dtls_ca_file=/etc/asterisk/keys/ca.crt		;key need to be here

; Mandatory for Browser Interop
ice_support=yes
use_avpf=yes
rtcp_mux=yes

; NAT helpers
rewrite_contact=yes
rtp_symmetric=yes
force_rport=yes
media_use_received_transport=yes
identify_by=username


; GENERIC INTERCOM CONFIG, I call group 102 for OneDoor to handle conference logic

[105]   
type=endpoint
context=intercom-logic
disallow=all
allow=ulaw
auth=105_auth
aors=105

[105_auth]
type=auth
auth_type=userpass
username=105
password=yourpassword

[105]
type=aor
max_contacts=1

; http.conf EXAMPLE  
[general]
enabled=yes
bindaddr=0.0.0.0
bindport=8088
sessionlimit=100
session_inactivity=30000

; rtp.conf EXAMPLE - many SIP device request #ports be >220. these need forward to PBX.
[general]
rtpstart=10000
rtpend=10220
strictrtp=yes




