#NPM Instructions
#door.yourdomain.com scheme http. your server ip, your opendoor port usually 8099. Must check websocket support.
#SSL tab must have SSL enforced, HTTP/2 and HSTS.
#advanced tab, can copy this or seperate it out under sustom locations.


# Asterisk WebSocket: /asterisk-ws -> http://192.168.1.26:8088/ws this may be different on different PBX
location /asterisk-ws {
    proxy_pass http://192.168.1.26:8088/ws;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;
    proxy_set_header Sec-WebSocket-Protocol sip;
    proxy_set_header X-Forwarded-Proto https;
    proxy_buffering off;
    proxy_cache off;
    proxy_request_buffering off;
    proxy_read_timeout 86400s;
    proxy_send_timeout 86400s;
}

# go2rtc API: /go2rtc/ -> http://192.168.1.26:1984/
location /go2rtc/ {
    proxy_pass http://192.168.1.26:1984/;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;
    proxy_read_timeout 86400s;
